.box-left {
    height: 400px;
}


.box {
    display: flex;
    width: 100%;
    padding-top: 50px;
    justify-content: space-around;
}

img {
    width: 500px;
    height: 300px;

}
.box-right {
    padding: 30px;
}